.example-flex-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.dimention {
  width: 3.1rem;
  height: 3.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dimention:hover {
  transition: 0.3s ease-in-out;
  width: 4rem;
  height: 4rem;
  background-color: aqua;
}

.dimention-main {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg {
  background-color: rgb(54, 199, 199);
  height: 5rem;
  width: 100vw;
  justify-content: space-evenly;
}
