<div class="example-flex-container bg">
  <div class="example-button-container">
    <button
      mat-fab
      color="accent"
      aria-label="Example icon button with a delete icon"
      routerLink="/pant1"
      class="dimention"
    >
      <mat-icon>sports_baseball</mat-icon>
    </button>
  </div>
  <div class="example-button-container">
    <button
      mat-fab
      routerLink="/pant2"
      color="accent"
      class="dimention"
      aria-label="Example icon button with a bookmark icon"
    >
      <mat-icon>sports_baseball</mat-icon>
    </button>
  </div>
  <div class="example-button-container">
    <button
      routerLink="/main"
      mat-fab
      color="warn"
      class="dimention-main"
      aria-label="Example icon button with a home icon"
    >
      <mat-icon>home</mat-icon>
    </button>
  </div>
  <div class="example-button-container">
    <button
      class="dimention"
      color="accent"
      mat-fab
      routerLink="/pant3"
      aria-label="Example icon button with a heart icon"
    >
      <mat-icon>sports_baseball</mat-icon>
    </button>
  </div>
  <div class="example-button-container">
    <button
      class="dimention"
      mat-fab
      routerLink="/pant4"
      aria-label="Example icon button with a heart icon"
    >
      <mat-icon>sports_baseball</mat-icon>
    </button>
  </div>
</div>
